<div class="main">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button pButton
              type="button"
              icon="pi pi-bars"
              label="MENU"
              class="p-button-text main-menu-button"
              (click)="openSidenav()">
      </button>
    </div>
  </p-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

<p-sidebar [(visible)]="sidebarOpen"
           styleClass="sidenav">
  <div class="sidenav p-pt-6">
    <div class="sidenav__header p-mx-3">
      <div>
        <img src="./assets/images/logo.png"
             alt="ZRA Logo"
             class="sidenav__header-image">
      </div>
    </div>

    <div class="sidenav__menu p-mt-2 p-pt-2">
      <p-menu [model]="items"></p-menu>
    </div>
  </div>
</p-sidebar>
